DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres?schema=public"

SUPABASE_URL = "http://localhost:54321"
SUPABASE_KEY = ""
SUPABASE_JWT_SECRET = ""
SUPABASE_ANON_KEY = ""
SUPABASE_DB_PASSWORD = ""
SESSION_SECRET = ""
CLOUDFLARE_ENV = "development"